body{
    background-color: darkorange;
}
header {
    background-color: #fff;
    position: sticky;
    top: 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 10px 5px;
    border-radius: 15px;
}

a {
    text-decoration: none;
    color: #333333;
}


.logo {
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    font-weight: 700;
    color: #333333;
}

.logo img {
    width: 100px;
    height: 40px;
    border-radius: 50%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    font-weight: 700
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: darkorange;
}

.hero{
    height: 100vh;
}

footer {
    background-color: #fff;
    bottom: 0;
    color: #333333;
}

.footer-container{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.content{
    background-color: white;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: sans-serif;
    margin: auto;
    width: 850px;
    height: 450px;
    margin-top: 50px;
}

.contact{
    gap: 10px;
}

p{
    text-align: center;
    font-size: small;
}

.img{
    max-width: 300px;
    position: relative;
    min-width: 350px;
    height: 300px;
    padding-left: 5px;
    border-radius: 10px;
}

.cont{
    font-weight: bold;
    color: darkorange;
    text-align: center;
    padding-top: 40px;
}

.form{
    margin-right: 0;
    padding-top: 45px;
    padding-bottom: 20px;

}

.form-text{
    color: darkorange;
}


.button{
    background-color:  darkorange;
    color: #fff;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 0;
}

input[type=text],input[type=email]{
    width: 95%;
    height: 30Px;
    margin-top: 20px;
    border-radius: 8px;
    border-style: ridge;
    border-width: 4px;
    border-color: #ffffff;
}
label{
    margin-bottom: 0px;
}