body {
    background-color: #faf8f4;
    font-family: 'Playfair Display', serif;
}

header {
    background-color: #fff;
    position: sticky;
    top: 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding: 10px 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

a {
    text-decoration: none;
    color: #333333;
}


.market_btn:hover {
    background-color: #3f9a6b;
}

.sell_btn:hover {
    background-color: #f0f0f0;
}
.logo {
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    font-weight: 700;
    color: #333333;
}

.sign-btn {
    background-color: #3f9a6b;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
        height: 40px;

}
.logo-icon {
    width: 100px;
    height: 40px;
    border-radius: 50%;
}

nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
nav ul {
    display: flex;
    list-style: none;
    gap: 4px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    font-weight: 700
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #2D5A27;
}



h1 {
    color: black;}


h2{
    color: #3f9a6b;
}

footer {
    background-color: #fff;
    color: #333333;
    padding-top: 20px;
}

.footer-container{
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


h4{
    margin-top: 0;      
    margin-bottom: 8px; 
}
p  {
    margin-top: 0;     
    margin-bottom: 8px; 
}

