<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    {% block extra_css %}{% endblock %}
</head>


<body>

<header class="header-container">
    <div class="logo">
        <a href="{% url 'home' %}">
        <i class="fa-solid fa-recycle" style="color: rgba(28, 152, 83, 1.00);"></i>            
        <span>Campus Connect</span>
        </a>
    </div>
    <div>
        <nav>
            <ul>
                <li><a href="{% url 'items' %}">Items</a></li>
                <li><a href="{% url 'sell' %}">sell_Item</a></li>
            </ul>
        </nav>
    </div>
    <div>
        <a href="{% url 'register' %}">
            <button class="sign-btn">+Sign in</button>
        </a>
    </div>
</header>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer>
    <div class="footer-container">

            <h4>Campus Connect Marketplace</h4>
            <p>Promoting sustainability & affordability within your campus community.</p>
      
        <!-- <div class="socials">
            <h4>Follow Us on Social Media!</h4>
            <a href="https://www.facebook.com" target="_blank" title="Facebook"><i class="fab fa-facebook"></i></a>
            <a href="https://www.twitter.com" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com" target="_blank" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
        </div> -->
        <p>&copy; {% now "Y" %} Campus Connect Market. Built for students, by students</p>
    </div>


</footer>
</body>
</html>