<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
</head>
<body>
<header class="header-container">
    <div class="logo">
        <a href=""><img src="{% static 'assets/logo.png' %}" alt="market logo"></a>
        <span>Campus~Connect Market</span>
    </div>
    <div>
        <nav>
            <ul>
                <li><a href="index/">Home</a></li>
                <li><a href="register/">Register</a></li>
                <li><a href="items/">Items</a></li>
                <li><a href="User/">user</a></li>
                <li><a href="categories/">Categories</a></li>
                <li><a href="sell/">sell</a></li>
                <li><a href="contact/">contact us</a></li>
            </ul>
        </nav>
    </div>
</header>

<main>
    <section class="hero">
        <div class="content">

            <div class="contact">
                <h2 class="cont">CONTACT US</h2>
                <p>Or reach out manually <a href="" style="color: blue">xaimohchau@gmail.com</a></p>
                <img src="{% static 'assets/pex1.png' %}" alt="" class="img">
            </div>

            <div class="form">

                <form action="">

                    <label for="email">Email address</label>
                    <input type="email" name="" id="email" required="required"><br>
                    <small class="form-text">We'll never share your email with anyone else.</small><br><br>


                    <label for="name">Your name</label>
                    <input type="text" name="" id="name" required="required"><br><br>

                    <label for="message">Your message</label><br>
                    <textarea name="" id="message" rows="5" cols="45"
                              style="border-style: ridge; border-color: #ffffff; border-width: 4px; border-radius: 8px"></textarea><br>

                    <button type="submit" class="button">Send Message</button>
                </form>

            </div>

        </div>

    </section>
</main>

<footer>
    <div class="footer-container">

        <div class="about">
            <h4>About Us</h4>
            <p>Our platform is built with students in mind, offering a secure and user-friendly experience. By
                connecting
                buyers and sellers directly, we make it easy for you to “Find What You Need, Sell What You Don’t!”</p>
        </div>
        <div class="navi">
            <h4>quick links</h4>
            <ul>
                <li><a href="index/">Home</a></li>
                <li><a href="register/">Register</a></li>
                <li><a href="items/">Items</a></li>
                <li><a href="User/">user</a></li>
                <li><a href="categories/">Categories</a></li>
                <li><a href="sell/">sell</a></li>
            </ul>
        </div>
        <div class="socials">
            <h4>Follow Us on Social Media!</h4>
            <a href="https://www.facebook.com" target="_blank" title="Facebook"><i class="fab fa-facebook"></i></a>
            <a href="https://www.twitter.com" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com" target="_blank" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
        </div>
    </div>


</footer>

</body>
</html>